
#define WIFI_SSID "xxx"
#define WIFI_PASSWORD "xxx"
#define API_KEY "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
#define USER_EMAIL "xxx@xxx.xxx"
#define USER_PASSWORD "xxx"
#define FIREBASE_PROJECT_ID "xxx"
#define DATABASE_URL "https://xxxx"
